* text=auto
*.gd text
*.tscn text
*.tres text
*.godot text
*.gdshader text
*.json text
*.md text
*.sh text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ogg binary
*.wav binary
*.glb binary
*.gltf text
